body {
    font-family: helvetica;
    font-size: 26px;
}

fieldset {
    padding: 10px;
}

input[type="text"] {
    border: solid 1px black;
    padding: 5px;
    border-radius: 3px;
    width: 50%;
}

button {
    margin-left: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 50px;
}

thead {
    background: #888;
  }
  
  td {
    padding: 20px;
    border: solid 1px black;
  }