body {
  font-family: 'Nanum Gothic', sans-serif;
}
h1 {
    font-weight: bold;
    font-size: 26pt;
    padding: 20px;
    text-align: center;

}
form {
    border: solid 1px black;
    padding: 20px;
    margin: auto;
    width: 50%;
    font-size: 18pt;
}

fieldset {
    padding: 10px;
}

input {
    border: solid 1px black;
    padding: 5px;
    border-radius: 3px;
}

button {
    margin-left: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

table {
    margin-top: 20px;
    margin: auto;
    width: 50%;
    font-size: 12pt;
    padding: 20px;
}

#stores-table tbody tr {
    text-align: right;
    height: 200px;
    width: 700px;
    text-shadow: 1px 1px #888;
}

#stores-table thead {
  text-align: center;
}

#stores-table #merch {
    background-image: url("../img/shirt.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
#stores-table #admin {
    background-image: url("../img/chinook.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

thead {
    background: #888;
    font-weight: bold;
  }
  
  td {
    padding: 20px;
    border: solid 1px black;
  }

tfoot {
    background: #888;
    font-weight: bold;
}